{% extends 'crossword/layout.html' %}

{% block title %} CrossWord {% endblock %}

{% block body %}




<div class="header">
    <div class="head_details">
        <p><b>Relax Your Mind With CrossWord</b><small id="date"></small></p>
    </div>
<div class="head_names">
    <h1 id="heading_name"></h1>
    <h4 id="heading_user"></h4>
</div>
<div  class="newsletter-overlay">

    <div id="newsletter-popup">
      <a href="#" class="popup-close">X</a>
      <div class="newsletter-in">
        <h3>Join our Newsletter!</h3>
        <p>Join Our Newsletter to Get Weekly Updates</p>
        <form target="_blank" class="validate" method="post" action="#">
          <div class="frm-row">
            <input class="frm-name" type="text" placeholder="YOUR NAME" name="FNAME" required="">
          </div>
          <div class="frm-row">
            <input class="frm-email" type="text" placeholder="YOUR EMAIL" name="EMAIL" required="">             </div>
          <div class="frm-submit">
            <input type="submit" value="Submit">
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
<div class="nav">

        <h1 id="heading"></h1>
    <div class="timer">
    <span id="minutes">00</span>:<span id="seconds">00</span>
    </div>
    
    <div class="calender drop_menu">
        <ul> 
        <li class="dropdown"><a href="#" class="trigger-drop">Calender<i class="arrow"></i></a>
            <ul class="drop">
                <div class="title">Puzzles</div>
              <li><a href="#"><span>Puzzle</span><span> Publication</span><span> Time </span></a></li>
            {% for p in puzzle %}
              <li value="{{ p.id }}"><a><span>{{ p.user }}</span> <span>{{ p.pub_date | date:"d / M  / Y"}}</span> <span> 00:00 </span></a></li>
            {% endfor %}
            </ul>
          </li>
        </ul>
   
</div>
</div>
<div id="clues_top"></div>
<div id="puzzle-wrapper">
    <!-- crossword puzzle appended here -->
</div>

<div>
    <select  id="options_level">
        {% for p in puzzle %}
            <option value="{{ p.id }}" {% if forloop.first %} selected {% endif %}>{{ p }}</option>
        {% endfor %}
    </select>
    <ul class="drop">
    <li><a href="#"><button class="btn-16" id="word_solve">Solve Word</button></a></li>
    <li><a href="#"></a><button class="btn-16" id="solve_all">Solve All</button></a></li>
    <li><a href="#"></a><button class="btn-16" id="solve_random">Solve Random</button></a></li>
    </ul>
</div>
<div>
    
</div>

{% endblock %}