body {
    font: 62.5%/1.3em Helvetica, sans-serif;
    width: 90.3%;
    margin: 10px auto;
}

h2 {
    text-align: center;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
}

table tr {
    width: 100%;
}

table td {
    z-index: -999;
    width: 5em;
    height: 5em;
    border: 1px solid #cdcdcd;
    padding: 0;
    margin: 0;
    background-color: #333;
    position: relative;
}

td input {
    width: 100%;
    height: 100%;
    padding: 0em;
    border: none;
    text-align: center;
    font-size: 3em;
    color: #666;
    background-color: #f4f4f4;
    caret-color: transparent;
    border: none;
    outline: none;
}

td input:focus {
    background-color: rgba(226, 192, 118, 0.89);
}

td span {
    color: #444;
    font-size: 0.8em;
    position: absolute;
    top: -1px;
    left: 1px;
}

input.done {
    font-weight: bold;
    color: green;
}

.active,
.clues-active {
    background-color: #ddd;
}

.clue-done {
    color: #999;
    text-decoration: line-through;
}

#puzzle-wrapper {
    float: left;
    width: 54%;
    margin-right: 3%;
}

#puzzle-clues {
    float: left;
    width: 40%;
}

#puzzle-clues ul {
    max-height: 150px;
    overflow: auto;
    list-style: none;
}

#puzzle-clues ul::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 50%);
    
    background: #fdca40;
}

#puzzle-clues ul::-webkit-scrollbar {
    width: 12px;
}

#clues_top {
    color: #fff;
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 50%);
    background: #fdca40;
    width: 54%;
    margin: 8px 0;
    text-align: center;
    padding: 9px 0;
    font-weight: bolder;
}

#puzzle-clues ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#puzzle-clues li {
    font-size: 1.2em;
    margin: .3em;
    line-height: 1.6em;
}

ol {
    list-style: none;
    padding-left: 10px;
    max-height: 200px;
    overflow-y: scroll;
}

ol>li:before {
    content: attr(seq) ". ";
}

.bg-clue {
    background: aqua;
}

div.timer {
    border: 1px #666666 solid;
    width: 190px;
    height: 50px;
    line-height: 50px;
    font-size: 36px;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    margin: 5px;
}

.drop_menu a{
    text-decoration: none;
    /* color :rgba(0, 0, 0, .15) */
}

.drop_menu {
    float: right;
    margin-right: 30px;
    position: relative;
}


.drop_menu li {
    float: left;
    list-style: none;
    position: relative;
    margin: 10px;
    display: inline-block;
}

.drop_menu li > a:hover {
    color: #fff;
    background: #fdca40;
    border-radius: 2px;
}
.drop_menu li > a[class^="trigger-"] {
    padding-right: 40px;
}

.drop_menu li > a, .options .drop li > a {
    position: relative;
    display: inline-block;
    padding: 0 10px;
    line-height: 30px;
    height: 30px;
}

.drop_menu li > a .arrow {
    position: absolute;
    height: 10px;
    top: 35%;
    text-align: center;
    right: 10px;
    border-width: 5px 5px 0 5px;
    border-style: solid;
    border-color: rgba(255, 127, 7, 0.378) transparent;
}

.drop_menu li > a .arrow:after {
    content: "";
    border-left: 1px solid rgba(0, 0, 0, .15);
    top: -10px;
    left: -15px;
    position: absolute;
    height: 15px;
}

.drop_menu li ul {
    max-height: 95px;
    overflow-y: auto;
    position: absolute;
    left: -42px;
    margin: 0;
    background: #fff;
    border-radius: 2px;
    width: 200px;
    padding : 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, .15);
    display: none;
}

.drop_menu li ul::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #fdca40;
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 50%);
}

.drop_menu li ul::-webkit-scrollbar {
    width: 12px;
}

.drop_menu li ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.drop_menu li span{
    margin: 0 8px;
}



.drop_menu li span:nth-child(2){
    background: rgba(0, 0, 0, .1);
}
.drop_menu li ul > li {
    border-bottom: 1px solid #aaa;
    z-index: 999;
    box-shadow: 1px 0px 5px #aaa;
    clear: both;
    list-style: none;
    display: block;
    padding: 0 0;
    margin: 0;
    width: 100%;
}

.drop_menu li ul > li:hover {
    background: #fdca40;
}
.drop_menu li ul > li:hover > a {
    background: #fdca40;
    color: #fff;
}

.drop_menu li:hover > .drop {
    display: block;
    animation: fadeInRight 0.3s ease;
    -webkit-animation: fadeInRight 0.3s ease;
}

.title {
    text-align: center;
    padding: 7px;
    font-weight: bolder;
}

.options li {
    text-align: center;
}

.options button{
    font-weight: bolder;
    display: contents;

}

.options .drop {
    width : 160px;
    max-height: unset;
}

.nav {
    display: flex;
}

.head_details {
    background: #fdca40;
    ;
}

.head_details p {
    padding: 8px;
}

.head_details small{
    float: right;
}

.head_names {
    padding: 0px 8px;
}

ul {
    list-style: none;
}

#newsletter-popup{
    margin: 70px auto;
    padding:30px 40px 40px;
    background: #fdca40;
    border-radius: 5px;
    width: 25%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .btn-16 {
    border: none;
    color: #000;
  }
  .btn-16:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
  }
  .btn-16:hover {
    color: #000;
  }
  .btn-16:hover:after {
    left: auto;
    right: 0;
    width: 100%;
  }
  .btn-16:active {
    top: 2px;
  }

  button {
    margin: 20px;
 
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  


  
  @media screen and (max-width: 1366px){
    #newsletter-popup{
      width: 40%;
    }
  }
  
  @media screen and (max-width: 992px){
    #newsletter-popup{
      width: 70%;
    }
  }
  

.drop  li {
    display: inline;
}

  .newsletter-overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;
    display: none;
    z-index: 999;
  }
  
  #newsletter-popup h3{
    color: #fff;
    font-size: 24px;
    margin: 0 0 10px;
    font-family: 'Gloria Hallelujah',cursive;
  }
  
  #newsletter-popup input[type="text"]{
      width: 100%;
      height: 36px;
      border: none;
      text-indent: 10px;
      font-size: 13px;
      border-bottom: 2px solid #faeaec;
      border-top: 2px solid #fff;
      padding: 0;
      color: #666;
      margin-bottom: 15px;
  }
  
  #newsletter-popup input[type="submit"]{
    background: #6EC5D9;
      border: none;
      border-bottom: 3px solid #57B8CE;
      color: #fff;
      text-align: center;
      display: block;
      padding: 0;
      line-height: 1.5;
      width: 100%;
      cursor: pointer;
      margin: 0;
      font-size: 21px;
      font-family: "Gloria Hallelujah",cursive;
  }
  
  #newsletter-popup .popup-close, .modal-close{
    color: #fff;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
    font-family:  "Gloria Hallelujah",cursive;
    font-weight: bold;
  }

  .modal-close {
    color: black;
    font-weight: bolder;
    font-size: 14px;
    border : 1px solid;
    border-radius: 50px;
  }
  
  .game_menu li {
      margin: 0 3px;
  }



  .game_menu {
    right: 50px;
    position: absolute;
    -webkit-tap-highlight-color: transparent;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  border: 0;
  font-family: Arial, sans-serif;
  color: #333333;
  border-spacing: 0px;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  flex: 1 1 auto;
}

#icons_wrap {
  margin-left: auto;
}

.icons {
  display: flex;
  flex-direction: row-reverse;
}

li#info {
 
  background: url(../images/info.svg.svg);
  background-size: cover;
background-position: 0 -1116px;

}

.icons li {
  position: relative;
  height: 29px;
  width: 28px;
  text-decoration: none;
  padding-right: 5px;
  list-style: none;
  cursor: pointer;
}

li#calendar {
background-image: url(../images/calendar.svg) ;

background-repeat: repeat-y;
background-position: 0 -261px;
}



ul.popup_menu * {
  cursor: default !important;
}
li#info ul.popup_menu li.popup_container>ul>li>div a, .lighted {
  color: #1b9bff;
  text-decoration: none;
}

.main_container .game_menu_container ul.icons li.time {
  width: auto;
  height: auto;
  margin: auto;
  font-size: 16px;
  font-weight: bold;
  background-image: none;
}


.tactive {
  background-image: url(../images/pause.svg);
  background-repeat: no-repeat;
  margin-right: 0px;
}

.pactive {
  background-image: url(../images/play.svg);
  background-repeat: no-repeat;
  margin-right: 0px;
}

li#info ul.popup_menu {
  width: 403px;
  height: 322px;
  display: none;
  top: 29px;
  right: 0px;
  position: absolute;
  z-index: 100;
}

li#info ul.popup_menu li.popup_arrow {
  right: 5px;
}

li#hint {
  background-image: url(../images/question.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

li#hint ul.popup_menu li.popup_arrow {
  top : 30px;
  right: 5px;
}

li#calendar ul.popup_menu li.popup_arrow {
  right: 60px;
}


li#info ul.popup_menu>li.popup_container {
  width: 89%;
  height: auto;
  padding: 8px 5px;
  margin-top: 9px;
  float: right;
  background : #fff;
  border: 1px solid #cccccc;
  z-index: 100;
  box-shadow: 2px 2px 19px #aaa;
  border-radius: 10px;
}

ul.popup_menu .popup_arrow {
  position: absolute;
  z-index: 102;
  width: 29px;
  height: 10px;
  background-repeat: no-repeat;
}

li#info ul.popup_menu li.popup_container .title {
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.icon-button i {
	background: none;
	color: white;
	height: 2.6rem;
	left: 0;
	line-height: 2.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 2.6rem;
	z-index: 10;
}

#flicking {
    color : #fff;
    -webkit-animation: flicker-1 2s linear infinite both;
            animation: flicker-1 2s linear infinite both;

}

@-webkit-keyframes flicker-1 {
  0%,
  100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}
@keyframes flicker-1 {
  0%,
  100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}


.icon-button {
	background-color: white;
	border-radius: 2.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 1.3rem;
	height: 2.6rem;
	line-height: 2.6rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 2.6rem;
}

.twitter span {
	background-color: #4099ff;
}
.facebook span {
	background-color: #3B5998;
}

.icon-button .fa-twitter {
	color: #4099ff;
}
.icon-button .fa-facebook-f {
	color: #3B5998;
}

.icon-button:hover span {
	width: 2.6rem;
	height: 2.6rem;
	border-radius: 2.6rem;
	margin: -1.3rem;
}


li#info ul.popup_menu li.popup_container .button {
  width: 100%;
  height: 25px;
  margin: 5px 0 10px;
}

ul.popup_menu li.popup_container .button {
  display: flex;
  width: 100%;
  height: 27px;
  margin: 4px 0 8px;
  justify-content: center;
  align-items: center;
}

ul.popup_menu li.popup_container .button>span {
  font-size: 12px;
  padding: 4px 8px;
  text-align: center;
  background-repeat: repeat-x;
  border-right: 1px solid #dddddd;
}

li#info ul.popup_menu li.popup_container>ul {
  color: #333;
  height: auto;
  font-size: 12px;
  overflow: hidden;
  text-align: left;
}

li#info ul.popup_menu li.popup_container>ul>li.pactive {
  display: block;
  font-size: 12px;
  font-weight: normal;
}

li#info ul.popup_menu li.popup_container>ul li {
  background: none;
  display: none;
  float: left;
  width: auto;
  height: 100%;
  margin-bottom: 10px;
}

li#calendar ul.popup_menu {
  width: 320px;
  height: auto;
  display: none;
  top: 29px;
  position: absolute;
  right: -60px;
  z-index: 100;
}

li#calendar ul.popup_menu>li.popup_container {
  width: 89%;
  height: auto;
  padding: 8px 5px;
  margin-top: 9px;
  background: #fff;
  border: 1px solid #cccccc;
  z-index: 100;
  box-shadow: 2px 2px 19px #aaa;
  border-radius: 10px;
}

li#calendar ul.popup_menu li.popup_container .title {
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

ul.popup_menu li.popup_container .button>span {
  font-size: 12px;
  padding: 4px 8px;
  text-align: center;
  background-repeat: repeat-x;
  border-right: 1px solid #dddddd;
}

li#calendar ul.popup_menu li.popup_container .puzzles_header {
  display: flex;
}

li#calendar ul.popup_menu li.popup_container .puzzles_header>span.name {
  width: 60%;
}

li#calendar ul.popup_menu li.popup_container .puzzles_header>span.perc {
  width: 20%;
}

li#calendar ul.popup_menu li.popup_container .other_games {
  width: 100%;
  height: 288px;
  overflow-y: scroll;
  background: #fff;
}

li#calendar ul.popup_menu li.popup_container .other_games>div {
  display: flex;
  align-content: center;
}

li#calendar ul.popup_menu li.popup_container .other_games div span.name {
  width: 60%;
  font-size: 12px;
  padding: 5px 0px;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

li#calendar ul.popup_menu li.popup_container .other_games div>span {
  border-bottom: 1px inset #dddddd;
  font-size: 12px;
  overflow: hidden;
}

li#calendar ul.popup_menu li.popup_container .other_games div span.perc {
  width: 20%;
  font-size: 12px;
  background: #eeeeee;
  text-align: center;
}

li#calendar ul.popup_menu li.popup_container .other_games div span.time_spent {
  width: 20%;
  font-size: 12px;
  text-align: center;
}

li#calendar ul.popup_menu li.popup_container .puzzles_header>span:last-child {
  border-right: none;
}

li#calendar ul.popup_menu li.popup_container .puzzles_header>span {
  flex: 1 1 auto;
  font-size: 12px;
  font-weight: bold;
  padding: 0px;
  text-align: left;
  border-right: 1px inset #dddddd;
  border-bottom: 1px inset #dddddd;
}

li#calendar ul.popup_menu li.popup_container .other_games div span.name .game_date {
  color: #666666;
  font-size: 12px;
}

ul.popup_menu .popup_arrow {
  position: absolute;
  z-index: 102;
  width: 29px;
  height: 10px;
  background-image: url(../images/arrow.png);
  background-repeat: no-repeat;
}

li#calendar ul.popup_menu li.popup_container .other_games div span.name>span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-transform: capitalize;
  display: block;
}

li#hint ul.popup_menu li.popup_container {
  width: 160px;
  height: auto;
  padding: 8px;
  margin-top: 40px;
  float: right;
  background: #fff;
  border: 1px solid #cccccc;
  z-index: 100;
  box-shadow: 2px 2px 19px #aaa;
  border-radius: 10px;
}

.main_container .game_menu_container ul.icons li span#time {
  width: 100%;
  line-height: 30px;
  color: #929292;
  display: inline-block;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
}

li#play.tactive {


  /* background-position: 0 -1571px; */
  margin-right: 0px;
}

li#hint ul.popup_menu li.popup_container .sub_menu {
  width: 154px;
  line-height: 32px;
  margin: 0 auto;
  font-size: 11px;
  text-align: left;
  color: #666;
  font-weight: bold;
}

.u-imgResponsive {
  max-width: 100%;
}
.u-btn {
  flex: 0 0 100%;
  padding: 14px 20px;
  border: 0;
  background : linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(101, 199, 153, 0.27) 100%), rgb(53 55 60);
  border-radius: 25px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  transition: all 0.2s ease;
  box-shadow: 0 15px 40px 0 rgba(41, 118, 223, .5);
}
.u-btn:hover {
  opacity: 0.9;
}
.u-btn.u-btn--success {
  background: rgba(0, 208, 0, 1);
  box-shadow: 0 15px 40px 0 rgba(0, 208, 0, .5);
}

/* Modal ====================== */

.modal {
 transition: opacity 500ms;
 /* -webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
         animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both; */
 position: absolute;
 z-index: 999;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
  width: 100%;
  max-width: 480px;
  margin: 20px;
  overflow: hidden;
  box-shadow: 0 60px 80px 0 rgba(0, 0, 0, .4);
}
.modal-top {
  padding: 30px 30px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: rgba(251, 251, 251, 1);
}
.modal-icon {
  display: block;
  max-width: 207px;
  margin: 0 auto 65px;
}
.modal-header {
  margin-bottom: 10px;
  font-size: 25.5px;
  letter-spacing: 2px;
  text-align: center;
}
.modal-subheader {
  max-width: 350px;
  margin: 0 auto;
  font-size: 19px;
  line-height: 1.3;
  letter-spacing: 1.25px;
  text-align: center;
  color: #999;
}
.modal-bottom {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 55px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #fff;
}
.modal-btn {
  margin: 10px auto;
}

.modal-bottom button {
  height: unset;
}


/* Media Queries */
@media (min-width: 456px) {
  .modal-top {
      padding: 69px 0 65px;
 }
  .modal-bottom {
      padding: 30px 60px;
 }
  .modal-btn {
      flex: 1;
      margin: 0;
      max-width: 190px;
 }
  .modal-btn:nth-of-type(2) {
      margin-left: 30px;
 }
}


.iactive {
  display : block!important; 
}


.main_header {
    display: flex;
    width: 100%;
    height: auto;
    font-weight: bold;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px dotted #ddd;
    flex-wrap: wrap;
    justify-self: stretch;
}

.heading_name {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    text-transform: capitalize;
    text-align: left;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.heading_user {
    font-size: 11px;
    font-weight: bold;
}


@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
   }
    100% {
        opacity: 1;
        transform: none;
   }
}

@media only screen and (max-width: 768px) {
    #puzzle-clues { 
        display: none;
    }
    #puzzle-wrapper, #clues_top {
        width: 100%;
    }
    
}